.book-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 30px;
  margin-top: 20px;
}
#search{
  width: 300px;
  height: 40px;
  padding: 8px;
  border: 3px solid #ccc;
  border-radius: 5px;
  margin-top: 90px;
  font-size: 16px;
}
.book {
  background-color: #2d4defa4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.655);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.book:hover {
  transform: scale(1.05);
}

.book-thumbnail {
  width: 65%;
  height: 250px;
  /* object-fit: cover; */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0 auto;
  display: block;
}

.book-title {
    text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}
.book-title a{
  text-decoration: none;
  color: #333;
}

.book-authors {
  font-size: 0.9rem;
  color: #3f3e3e;
  text-align: center;
}

.book-author {
  font-weight: bold;
}

p {
  color: #4caf50; /* Success message color */
  font-size: 1.2rem;
  margin: 10px 0;
}

.additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .rating {
    color: #f1c40f; /* Yellow color for rating */
    font-size: 1.2rem;
    margin-right: 10px;
  }
  
  .status {
    padding: 5px 10px;
    color: #feffff; /* Green color for "Free" status */
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: rgb(0, 34, 255);
  }
.status:hover {
  cursor: pointer;
}
#success{
    margin-top: 30px;
}